<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
      table {
        border: 2px solid rgb(17, 17, 17,0.8);
        border-collapse: collapse;
        width: 100%;
      }
      td {
        border: 2px solid rgb(17, 17, 17,0.8);
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <table style="margin-inline: 50px;">
      <tr>
        <th colspan="2" style="width: 70%; font-size: 18px">Analyst Qualification</th>
        <td style="align-items: center; text-align: center">
          <!-- <img
            style="width: 158px; height: 49px; object-fit: cover"
            src="gxplogo.png"
            alt=""
          /> -->
      <img src="<%= base64Logo %>" alt="Vidyagxp logo" style="width: 158px; height: 49px; object-fit: cover" />

        </td>
      </tr>
      <tr>
        <td style="font-weight: 700; font-size: 15px;">Analyst Id</td>
        <td style="font-size: 15px;"><%=reportData?.analystId%></td>
        <!-- <td style="font-weight: 700; font-size: 15px;">Qualification Id : <span style="font-weight: normal;"><%=reportData?.qualificationId%></span></td> -->
      </tr>
    </table>
  </body>
</html>