.circularItem {
  width: 200px;
  height: 200px;
}


@media screen and (max-width:991px) {
  .dashboardStatus {
      flex-direction: column;
      row-gap: 15px;
      justify-content: center;
      align-items: center;
      width: 100% !important;
  }

  .cardContainter {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
  }

  .cardItem {
      width: 100% !important;

  }

  .circularBar {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
  }

}