.animated-dropdown {
  animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

